body{
    margin: 0;
    padding: 0;
    background: url("https://images.unsplash.com/photo-1566923243236-ec34afee9201?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80") no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    top: 0;
    
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}
/* ---------------- */

.parent{

   padding: 20px; 
}
a{
    text-decoration: none;
    color: black;
    margin: 10px 10px;
    font-family: 'Rubik', sans-serif;
}
.links{
    float: right;
    padding: 4px;  
    
}
.links a:hover{
    border-bottom: 3px solid white;
    transition: ease 0.3s;
}
.title{
    font-size: 30px;
    letter-spacing: 0.3em;
}
.title:hover{
    text-shadow: 1px 1px white;
    transition: ease 0.3s;
}

/* --------------- */
.sideVan{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    float: left;
    width: 40%;
}

.maVan{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    float: left;
    width: 40%;
    display: block;
}
.container{
    width: 100%;
}


/* ---------------------------------- TOP SECTION, BELOW NAVBAR ------------------------------------- */
.top-section{
    border: 1px solid black;
    float: left;
    width: 45%;
    height: 214px;
    margin: 0 35px;
    background-color:rgba(0,204,204,0.2);
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
}
.top-section1{
    border: 1px solid black;
    float: left;
    width: 45%;
    height: 214px;
    margin: 0 35px;
    background-color:rgb(191, 191, 63);
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
}


.beachVan{
    height: 200px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.van{
    float: left;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 6px;
}
.side-van{
    float: left; 
    height: 200px;
    border-radius: 10px;
    width: 266px;
    margin: 6px;
}
p{
    flex-wrap: wrap;
    margin-left: 3px;
}

/* Video Section */


.video-container{
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0,0,0);
    float: left;
    width: 95%;
    height: auto;
    margin-left: 38px;
    margin-right: auto;
    margin-top: 250px;
    text-align: center;
}
video {
    width: 75%;
    height: auto;
    text-align: center;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}
video:focus{
    outline: none;
}
/* FOOTER */
.footer{
    clear: both;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    bottom: 0;
    height: 40px;

}
.footer i{
    color: white;
    font-size: 24px;
    margin-left: 30px;
}   
.footer i:hover{
    font-size: 25px;
    color: white;

}
/* ---------------------------------------------CONTACT US--------------------------------------------  */
.form-contact{
    text-align: center;
    margin-top: 2%;
}
.form-contact{
    background-color: rgba(222, 231, 233);
    width: 75%;
    height: 600px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


.contact-form{

    margin-right: 20px;
    margin-top: 30px;
    font-size: 22px;


}
h3{
    text-align: center;
    margin-right: 200px;
    font-size: 25px;

}
.title{
    letter-spacing: 2px;
    margin-right: 18px;
}
input{
    width: 200px;
    margin: 20px;
    border: none;
    background-color: none;
    border-bottom: 1px solid rgba(0,0,0,0.7);

}
input[type="text"]{
    background-color:  rgba(222, 231, 233);
    height: 20px;
    font-size: 15px;

}
input[type="email"]{
    background-color: rgba(222,231,233);
    height: 20px;
    font-size: 15px;
}
.email{
    width: 450px;
}
textarea{
    height: 200px;
    width: 550px;
    border: none;
    resize: none;
    border-radius: 3px;
    box-shadow: 5px 5px rgba(0,204,204,0.2);
}
::placeholder{
    color: rgba(26, 19, 19, 0.4);
}
h2{
    letter-spacing: 2px;
}
.contact-message{
    margin-top: 40px;
    font-size: 14px;
    text-align: left;
    margin-left: 255px;
}
input,textarea:focus{
    outline: none;
}
.contact_submit {
    float: left;
    margin-left: 253px;
    width: 100px;
    border: none;
    border-radius: 4px;
    margin-top: 3px;
}

.contact-footer{
    background-color: white;
    position: relative;
    bottom: 0;
    left: 0;
}

.contact-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}
.contact-icons i {
    color: black;
    font-size: 24px;
}

.contact-icons i:hover {
    transform: rotate(90deg);
    transition-delay: 0.3s;

}
button:hover{
    color: white;
    transition: ease 0.3s;
    background-color: black;
}
/* ----------------------------------------ABOUT US--------------------------------- */

.about-title{
    text-align: center;
}
.about-main h3{
    text-align: left;
    margin: 5px;

}
.about-main{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.hatGirl{
    height: 230px;
    width: 230px;
    border-radius: 5%;
    margin: 15px;
}
.hatGirl:hover{
    opacity: 0.8;
    transition: 0.5s linear;
}
.about-gal{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-p{
    border: 1px solid black;
    width: 50%;
    height: 50%;
    float: left;

}

/* -----------------------------------NAVBAR RESPONSE------------------------------ */
@media screen and (max-width: 570px) {
    .links{
        float: left;
        display: flex;
        flex-direction: row;
        margin-left: 140px;

        
    }
}

@media screen and (max-width: 565px) {
     .title{
        margin-left: 70px;

    }
    .top-section, .top-section1{
        margin-left: 100px;

    }
}

@media screen and (max-width: 1052px) {
    .hide {
        display: none;

    }
}

@media screen and (max-width: 818px) {
    p{
        display: none;
    }
}
@media screen and (max-width: 618px) {
    .top-section, .top-section1{
        width: 278px;
        
    }
}
@media screen and (max-width: 818px){
    i{
        margin-left: 30px;

    }
    
}

@media screen and (max-width: 500px) {
    .video-container{
        margin-left: 12px;
        transition: 0.3s ease;
        
    }
    footer i {
        margin-left: 100px;
    }
   
}

@media screen and (max-width: 1251px) {
    .about-gal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 900px) {
    .about-gal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-title{
        text-align: center;
        padding-top: 10px;
        margin-right: 25px;


    }
    .email{
        width: 300px;
    }
    .lastName {
        margin-left: 90px;
    }
    .emailTitle{
        float: left;
        margin-left: 23px;
    }
    .form-contact{
        margin-top: 30px;
    }
    .title{
        margin-right: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .contact-form textarea {
        width: 300px;
        height: 100%;
    }
    
}